* {
  box-sizing: border-box;
}

:root {
  --max-width: 1220px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  background-color: #fef6eb;
}

body {
  font-size: 15px;
  font: 300 17px/22px "Lato", "Open Sans", "Verdana";
  color: #525564;
  line-height: 1.2em;
  /* background-image: url('../assets/fractal_1.png'); */
  /* background: linear-gradient(black, #9198e5); */
  background: linear-gradient(black, #e66465);
  /* background: linear-gradient(#e66465, #9198e5); */
  background-attachment: fixed;
  background-size: 100% 100%;
}

.mainwrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  background-color: #fef6eb;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #c25b56;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-img img {
  height: 40px;
  width: 40px;
  margin: 5px 30px 5px 20px;
  line-height: 50px;
  padding: 0;
}

.header-txt {
  width: 150px;
  color: #c25b56;
  font-size: 24px;
  margin: 0px; 
  line-height: 50px;
}

.header-navigate {
  color: #c25b56; 
  margin: 0px;
  font-size: 15px;
  line-height: 50px;
  margin-right: 15px;
}

.header-dropdown {
  display: none;
  fill: #c25b56;
  padding: 15px;
}

.header-dropdown:hover {
  fill: #525564;
}

#svg-bars-path {
  fill: inherit;
}

.header-dropdown-menu {
  display: flex;
  flex-direction: column;
  transform: translate( 49px, 51px );
}



.nav-item {
  margin: 0 5px;
}

.nav-item-drop {
  background-color: #fef6eb;
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  width: 100px;
  text-decoration: none;
  border: #c25b56 solid 1px;
  border-top:none;
  text-align: center;
}


@media ( max-width: 720px ) {
  .header-dropdown {
    display: block;
  }
  .header-navigate {
    display: none;
  }
}

@media ( max-width: 325px ) {
  .header-txt {
    display: none;
  }
}

@media ( min-width: var(--max-width) ) {
  .header-dropdown {
    display: none;
  }
  .header-navigate {
    display: block;
  }
}





.hide {
  display: none;
}
.show {
  display: block;
}
.color-pale {
  color: #beb9b5;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.spacer {
  flex-grow: 1;
}


a {
  color: #c25b56; 
  text-decoration: none;
}
a:hover {
  color: #525564;
}



footer {
  min-width: 100%;
  text-align: center;
  border-top:  #c25b56 solid 1px;
  background-color: #fef6eb;
  color: #c25b56; 
}



.page {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: var(--max-width);
}



.project {
  max-width: 350px;
  border: 1px solid #fef6eb;
  /* border: 1px solid #c25b56; */
  margin: 10px;
  padding: 3px;
  text-align: center;
  /* color: #c25b56; */
  color: #fef6eb;
  border-radius: 3px;
  /* background-color: #525564; */
  /* background-color: #fef6eb; */
  /* background: linear-gradient(#fef6eb, transparent 70%); */
  /* background-image: linear-gradient(to right, #7927b2, #fb3182, transparent 90%); */
  /* background: linear-gradient(to top, #fef6eb, transparent 99%); */
  /* background: linear-gradient(to top, #fef6eb); */
  background: linear-gradient( to top, #525564, transparent 100%);
  transition: all 1s ease-out;
}

.project:hover {
  /* color: #525564; */
  /* color:  #fef6eb; */
  cursor: pointer;
  border-color: #525564;
  /* background-color: #fef6eb; */
  background-color: #525564;
  mix-blend-mode: difference; 
}

.project img {
  max-height: 200px;
  max-width: 335px;
}

.proj-img-wide {
  width: 100%;
  height: auto;
}

.proj-img-tall {
  width: auto;
  height: 100%;
}

.project p {
  text-align: left;
  padding: 5px;
  font-size: 14px;
}




.page-content {
  max-width: 80%;
  min-width: 230px;
  margin: 0 auto;
  color: #fef6eb;
}

.resume {
  color:  #e7bdbb; 
}

.resume:hover {
  color: #c25b56; 
}

.bio {
  margin-top: 5px;
  width: 100%;
}
.bio-image {
  float: left;
  margin: 10px;
  text-align: center;
}
.bio-image .my-portrait {
  max-width: 150px;
  border: 1px solid #c25b56;
  border-radius: 50%;
}
.bio-text {
  margin-left: 10px;
}
@media ( max-width: 360px ) {
  .bio-text {
    margin: 10px auto;
  }
  .bio-image {
    float: none;
    margin: 10px auto;
  }
}
